@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="container">

    <div class="login-page">
        <div class="text-center heading">
            <h1>Welcome To Integrator!</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">

        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
            <div class="checkbox">
                
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="new-wrapper">
                    <hr />
                    <div class="heading">
                        <h4><span class="fas fa-book-medical heading-icon "></span>&nbsp;New Customer.</h4>
                    </div>
                    <hr />
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-2 logo-small"><span class="fas fa-exclamation-circle"></span></div>
                            <div class="col-lg-10 "><p>By creating an account on our website, you will be able to customize your own portfolio, be up to date on job oppotunities, and keep track of the companies that maybe interested in your skill set.</p></div>
                        </div>

                    </div>
                    <div class="fa-pull-right register-btn">

                        <input type="button" class="btn btn-Integrator" onclick="location.href=''" value="Register" />
                    </div>

                </div>

            </div>

            <div class="col-lg-6">
                <div class="returning-wrapper">
                    <form id="account" method="post">
                        <hr />
                        <div class="heading">

                            <h4><span class="fas fa-book-reader heading-icon "></span>&nbsp;Current Member account log in.</h4>
                        </div>
                        <hr />
                        <div class="body">
                            <div class="form-group">
                                <span class="far fa-envelope"></span>
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <span class="fas fa-key"></span>
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>


                        <div class="form-group fa-pull-right login-btn">

                            <button type="button" class="btn btn-Integrator">Forgot your password?</button>
                            <button type="submit" class="btn btn-Integrator">Log in&nbsp;<span class=" fas fa-unlock"></span></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
