
@{
    ViewData["Title"] = "Awards";
    Layout = "~/Areas/Individuals/Views/Shared/_IndividualPortalLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Inidviduals")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Curriculum Vitae</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Awards</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <h1>CurriculumVitaeAwards</h1>

</div>