@{
    Layout = null;
}

TESTING VIEW
<button type="button" class="btn btn-primary" onclick="TestFunction();">click me</button>
<a onclick="TestFunction123();">test</a>
<select class="Select-TEST">
    <option value="1">test</option>
    <option value="2">test</option>
    <option value="3">test</option>
    <option value="4">test</option>
</select>
