@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-heading">Information</div>

                <div class="footer-menu-item">
                    <a href="#">Sitemap</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Privacy notice</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Conditions of Use</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">About us</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Contact us</a>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="footer-heading">Customer service</div>

                <div class="footer-menu-item">
                    <a href="#">News</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Blog</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Recently viewed job oppotunities</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Compare job oppotunities</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Recently added job offers</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-heading">My Account</div>

                <div class="footer-menu-item">
                    <a href="#">My account</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">My curriculum vitae</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Job wactch list</a>
                </div>
                <div class="footer-menu-item">
                    <a href="#">Request job offer</a>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="footer-heading">Follow us</div>

                <div class="footer-menu-item">
                    <span class="fab fa-facebook-square facebook"></span>
                    <span class="fab fa-twitter-square twitter"></span>
                    <span class="fab fa-youtube youtube"></span>
                    <span class="fab fa-google-plus-square googleplus"></span>
                </div>

                <div class="footer-menu-item">
                    <hr />
                </div>
                <div class="footer-heading">
                    <a href="#">Newsletter</a>
                </div>
                <div class="footer-menu-item">
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-lg-4">
                <p style="text-align:left; font-size: 11px;">
                    Made By: Brendan Wood[brendanw@mweb.co.za]
                </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-1">
                <a href="#myPage" title="To Top">
                    <span class="fas fa-chevron-up align-items-center"></span>
                </a>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3" style="text-align:left; font-size: 11px;">Copyright © 2019 Inetgrator. All rights reserved.</div>
        </div>
    </div>


</div>
